html,
body,
#cesiumContainer {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #000000;
}


/*@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}*/

.treeContiner {
	position: absolute;
	top: 20px;
	left: 2px;
	height: auto;
	width: auto;
	background-color: rgba(0, 0, 255, 0);
}

.panel-default {
	background: #071D32;
	opacity: 0.8;
	color: #fff;
	border: 2px solid #4d9ff4;
	box-shadow: 0 0 12px #486aaa, 0 0 18px #008cff;
	-webkit-box-shadow: 0 0 12px #486aaa, 0 0 18px #008cff
}

.panel-default>.panel-heading {
	color: #fff;
	background: #071D32;
	border-bottom: 2px solid #4d9ff4;
	box-shadow: 0 0 12px #486aaa, 0 0 18px #008cff;
	-webkit-box-shadow: 0 0 12px #486aaa, 0 0 18px #008cff
}

.close {
	color: #fff;
	opacity: 1;
}

.close:hover {
	color: #21F2F3;
}

.input-group {
	color: #fff;
	opacity: 1;
	background: #071D32;
}

.input-group-addon {
	color: #fff;
	opacity: 1;
	background: #071D32;
}

.input-group-addon:focus {
	border-bottom: 2px solid #4d9ff4;
	box-shadow: 0 0 12px #486aaa, 0 0 18px #008cff;
	-webkit-box-shadow: 0 0 12px #486aaa, 0 0 18px #008cff
}

.btn-default {
	text-shadow: none;
	border: 1px solid;
	border-color: rgb(204, 204, 204);
	color: #fff;
	opacity: 1;
	background: #071D32;
}

.btn-default:hover {
	color: #07A3EE;
	background: #071D32;
}
.btn-default:focus{
	background: #071D32;
	color: #07A3EE;
}
.btn-default:active{
	background: #071D32;
	color: #07A3EE;
}
.btn-default:visited{
	background: #071D32;
	color: #07A3EE;
}

.input-group-btn {
	color: #fff;
	opacity: 1;
	background: #071D32;
}

.form-control {
	height: 42px;
}

.form-control:focus {
	border: 2px solid #4d9ff4;
	box-shadow: 0 0 12px #486aaa, 0 0 18px #008cff;
	-webkit-box-shadow: 0 0 12px #486aaa, 0 0 18px #008cff
}

.list-group {
	font-size: 17px;
	color: #fff;
	background: #071D32;
	border-bottom: 2px solid #4d9ff4;
	box-shadow: 0 0 12px #486aaa, 0 0 18px #008cff;
	-webkit-box-shadow: 0 0 12px #486aaa, 0 0 18px #008cff
}

.list-group-item {
	/*opacity: 0.8;*/
	background: #071D32;
	color: #fff;
	border: 2px solid #4d9ff4;
	box-shadow: 0 0 12px #486aaa, 0 0 18px #008cff;
	-webkit-box-shadow: 0 0 12px #486aaa, 0 0 18px #008cff
}

.list-group-item:hover {
	background: #07A3EE;
}

a.list-group-item {
	color: #fff;
}

a.list-group-item:hover {
	color: #fff;
	background: #07A3EE;
}

a.list-group-item:focus {
	color: #21F2F3;
	background: #07A3EE;
}

.node-layerTree {
	/*	opacity: 0.8;*/
	border: 2px solid #4d9ff4;
	box-shadow: 0 0 12px #486aaa, 0 0 18px #008cff;
	-webkit-box-shadow: 0 0 12px #486aaa, 0 0 18px #008cff
}

.bootstrap-select {
	width: 150px;
}

.bootstrap-select.btn-group .dropdown-menu li a {
	color: #fff;
	background: #071D32;
}

.filter-option {
	opacity: 0.8;
	background: #071D32;
	color: #fff;
}

.btn dropdown-toggle btn-default {
	opacity: 0.8;
	background: #071D32;
	color: #fff;
	border: 2px solid #4d9ff4;
	box-shadow: 0 0 12px #486aaa, 0 0 18px #008cff;
	-webkit-box-shadow: 0 0 12px #486aaa, 0 0 18px #008cff
}

.bootstrap-select.btn-group .dropdown-menu {
	opacity: 0.8;
	background: #071D32;
	color: #fff;
	border: 2px solid #4d9ff4;
	box-shadow: 0 0 12px #486aaa, 0 0 18px #008cff;
	-webkit-box-shadow: 0 0 12px #486aaa, 0 0 18px #008cff
}


/*.btn-group>.btn:first-child{
				opacity: 0.8;
				background: #071D32;
				color: #fff;
			}*/

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
	opacity: 0.8;
	background: #071D32;
	color: #fff;
}

.bootstrap-select>.dropdown-toggle.bs-placeholder,
.bootstrap-select>.dropdown-toggle.bs-placeholder:focus {
	opacity: 0.8;
	background: #071D32;
	color: #fff;
}

.open>.dropdown-toggle.btn-default {
	opacity: 0.8;
	background: #071D32;
	color: #fff;
}

.bootstrap-select.btn-group .dropdown-menu li a:hover {
	background: #07A3EE;
}

.open>.dropdown-toggle.btn-default:hover {
	opacity: 0.8;
	background: #071D32;
	color: #fff;
}

.open>.dropdown-toggle.btn-default:focus {
	opacity: 0.8;
	background: #071D32;
	color: #fff;
}

.btn dropdown-toggle btn-default {
	opacity: 0.8;
	background: #071D32;
	color: #fff;
}

.btn dropdown-toggle btn-default:focus {
	opacity: 0.8;
	background: #071D32;
	color: #fff;
}

.input-group-btn>.btn:hover,
.input-group-btn>.btn:focus,
.input-group-btn>.btn:active {
	background: #071D32;
}

#queryResultslist {
	min-width: 200px;
	max-height: 500px;
	overflow-x: hidden;
	overflow-y: scroll;
	overflow: -moz-scrollbars-none;
	-ms-overflow-style: none;
}

#queryResultslist::-webkit-scrollbar {
	width: 0 !important
}

#queryResults {
	position: absolute;
	right: 5px;
	top: 150px;
	display: none;
}

.modal-content {
	opacity: 0.8;
	background: #071D32;
	color: #fff;
	border: 2px solid #4d9ff4;
	box-shadow: 0 0 12px #486aaa, 0 0 18px #008cff;
	-webkit-box-shadow: 0 0 12px #486aaa, 0 0 18px #008cff
}

.btn-primary {
	opacity: 0.8;
	background: #071D32;
	color: #fff;
}

.btn-primary:active:hover {
	background: #07A3EE;
}


/*.btn-default:focus,*/

.input-group-btn .btn-default {
	background: #071D32;
}

.input-group-btn .btn-default:hover {
	color: #07A3EE;
}

.btn-default:hover {
	color: #07A3EE;
	background: #071D32;
}

.bootstrap-select>.dropdown-toggle.bs-placeholder,
.bootstrap-select>.dropdown-toggle.bs-placeholder:hover,
.bootstrap-select>.dropdown-toggle.bs-placeholder:focus,
.bootstrap-select>.dropdown-toggle.bs-placeholder:active {
	color: #fff;
}

.input-group-btn:first-child>.btn {
	border-right-width: 1px;
	border-color: #fff;
	color: #fff;
}

.text {
	color: #fff;
}

.input-group-btn:last-child>.btn {
	border-left-width: 1px;
	border-color: #fff;
}

#photospherePanel {
	position: absolute;
	right: 5px;
	width: 600px;
	top: 150px;
	height: 378px;
	display: none;
	opacity: 1;
}

#photosphereContainer {
	width: 100%;
	height: 298px;
}

#photosphereContainer div {
	box-sizing: content-box !important;
	z-index: 999;
}


/*功能条图标替换*/


/*#queryByCircleBtnicon:before {
	content: "\e042";
}*/

.queryPolygon:before {
	font-family: FontAwesome;
	content: "\f279";
}

.queryBysql:before {
	font-family: Flat-UI-Icons;
	content: "\e64b";
}

.queryCircle:before {
	font-family: Flat-UI-Icons;
	content: "\e630";
}

.flyRoutesBtn:before {
	font-family: FontAwesome;
	content: "\f1d8";
}

.photosphere:before {
	font-family: Glyphicons Halflings;
	content: "\e060";
}

.addmaker:before {
	font-family: Flat-UI-Icons;
	content: "\e627";
}

.queryattributes:before {
	font-family: FontAwesome;
	content: "\f0f6";
}

.MeasureDis:before {
	font-family: SM-Icon-Font;
	content: "\e604";
}

.MeasureArea:before {
	font-family: SM-Icon-Font;
	content: "\e775";
}

.MeasureHeigh:before {
	font-family: Glyphicons Halflings;
	content: "\e185";
}

.Clear:before {
	font-family: FontAwesome;
	content: "\f014";
}

.l-popup .l-popup-table {
	border: 2px solid #4d9ff4;
}
.networkAnalysisBtn:before{
	font-family: FontAwesome;
	content: "\f1aa";
}
.BIM:before{
	font-family: FontAwesome;
	content: "\f1ad";
}
.PointCloud:before{
	font-family: FontAwesome;
	content: "\f0c2";
}
